.header {
    // background-color: #161b22;
    padding: 10px 20px;
}

.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.top-nav ul li {
    margin-right: 20px;
    // color: var(--text)
;
    cursor: pointer;
}

.profile-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding: 20px;
    gap: 21px;
}
 

.profile-picture img {
    padding: 14px;
    width: -webkit-fill-available;
    border-radius: 50%; 
}

.profile-info {
    margin-top: 20px;
}

.profile-info h1 {
    margin: 0;
    font-size: 24px; 
}

.profile-info p {
    margin: 5px 0;
    color: var(--secondary-text);
}
 
.profile-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: 1px solid var(--dark-active);
}

.profile-nav ul li {
    margin-right: 20px;
    padding: 10px 0;
    cursor: pointer;
    color: var(--secondary-text)
;
}

.profile-nav ul li.active {
    color: var(--text)
;
    border-bottom: 2px solid #f78166;
}

.profile-nav ul li span {
    background-color: #21262d;
    color: var(--text)
;
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: 20px;
}

.repository-search {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 10px;
}

.repository-search input[type="text"] {
    background-color: #161b22;
    color: var(--text)
;
    border: 1px solid var(--border)
;
    // padding: 8px 16px;
    width: 60%;
    border-radius: 6px;
}

.search-filters {
    display: flex;
    gap: 10px;
    button {
        height: 100%;
        border: none;
        // padding: 8px 16px;
        border-radius: 6px;
        cursor: pointer;
    }
} 

.new-btn {
    background-color: var(--green)
;
}

.repository-list {
    background-color: var(--dark-active);
    // padding: 20px;
    border-radius: 6px;
    // border: 1px solid var(--border)
;
}

.repository-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--border);
}

.repository-item:last-child {
    border-bottom: none;
}

.repo-info a {
    color: var(--select);
    text-decoration: none;
    font-size: 18px;
}

.repo-info p {
    margin: 0;
    color: var(--secondary-text)
;
}

.star-btn {
    background-color: #21262d;
    color: var(--text)
;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
}